.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: auto;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    
}

/* shared style*/
.text-primary{
    color: #FD6E0A;
}

/* Nav Style */


.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin: 0 35px 0 200px;
}

nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin: 51px;
}

nav li a{
    text-decoration: none;
    font: 20px;
}

.dark-2{
    color: #750909;
    
}

.btn-primary{
    background-color: #FD6E0A;
    font width: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}

.banner-greeting{
    font-size: 45px;
    font width: 600px;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic{
    width: 580px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}


.header{
    background-image: url('../images/background-2.jpg'), url('../images/background-3.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}




